# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/michaljanicki/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/michaljanicki/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/michaljanicki/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/michaljanicki/google-cloud-sdk/completion.zsh.inc'; fi

alias kraft='python3 ~/devops/bcli/psh.py'
# alias ls='colorls'
alias zj='~/zellij'

alias pb='python3 ~/repos/pudget/main.py'
alias v='nvim'
alias notes='cd $HOME/notes/Notes/notes && nvim .'
alias kompare='$HOME/repos/kompare/kompare'
alias argo='kubectl-argo-rollouts'
alias devops='distrobox enter devops && clear'

# Taskwarrior
alias tt='taskwarrior-tui'
# alias t='task add'
alias tl='task modify priority:L'
alias tm='task modify priority:M'
alias th='task modify priority:H'

# TickTick
alias t='add-task'

# Jira
alias j='jira-create'
alias jl='jira issue list --plain -s "~Done" -s"~Cancelled" -q "project IS NOT EMPTY" -a "michal.janicki@blulog.eu"'
alias jm='jira-move'
alias jr='jira-remove'

# Aider
alias a='aider --model openrouter/deepseek/deepseek-chat --chat-mode ask'

export XDG_CONFIG_HOME="$HOME/.config"

GOROOT=/Users/michaljanicki/go/go1.22.3
GOPATH=/Users/michaljanicki/go/go1.22.3
PATH=$PATH:$GOROOT/bin:$GOPATH/bin
export PATH="$HOME/zellij:$PATH"
export PATH="$HOME/.tmuxifier/bin:$PATH"
export PATH="${KREW_ROOT:-$HOME/.krew}/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export EDITOR='nvim'
export K9S_SKIN='nord'
export ELECTRON_OZONE_PLATFORM_HINT="wayland"
export OZONE_PLATFORM="wayland"

if [ -f ~/zshrc.local ]; then
  source ~/.zshrc.local
fi

#eval $(thefuck --alias)


## # Load Angular CLI autocompletion.
## source <(ng completion script)
if [ -f ~/.zshrc.local ]; then
  source ~/.zshrc.local
fi


eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv zsh)"
eval "$(starship init zsh)"
