/* Paleta Everforest Dark Medium */
@define-color bg #2d353b;
@define-color bg-alt #343f44;
@define-color fg #d3c6aa;
@define-color green #a6b46c;
@define-color yellow #dbbc7f;
@define-color red #e67e80;
@define-color blue #7fbbb3;
@define-color purple #d699b6;

* {
    font-family: "Meslo NF Regular", sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

/* 1. Główne okno musi być przezroczyste */
window#waybar {
    background: transparent;
}

/* 2. Tworzymy "pigułki" z każdego modułu */
#workspaces, #window, #mpris, #cpu, #battery, #memory, #pulseaudio, #clock, #tray, #custom-notification, #custom-power {
    background-color: @bg;
    color: @fg;
    margin: 4px 4px; /* Odstęp między pigułkami */
    padding: 2px 14px;
    border-radius: 12px; /* Zaokrąglenia brzegów */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Lekki cień, nadaje głębi */
}

/* 3. Obszary robocze potrzebują mniejszych marginesów wewnętrznych, by przyciski się zmieściły */
#workspaces {
    padding: 2px 4px;
}

#workspaces button {
    padding: 0 8px;
    color: @fg;
    background: transparent;
    border-radius: 8px;
}

#workspaces button:hover {
    background-color: @bg-alt;
}

#workspaces button.active {
    background-color: @bg-alt;
    color: @green;
    font-weight: bold;
}

/* 4. Tytuł okna (tylko wted, gdy jest tekst) */
#window {
    color: @green;
    font-weight: bold;
}

/* Ukryj moduł okna, gdy jest puste (brak focusu na aplikacji) */
window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

/* 5. Kolorowanie poszczególnych "pigułek" zgodnie z Everforest */
#cpu {
    color: @red;
}

#memory {
    color: @yellow;
}

#pulseaudio {
    color: @blue;
}

#pulseaudio.muted {
    color: @bg-alt;
}

#custom-power {
    color: @red;
    padding-right: 16px;
    padding-left: 16px;
}

#custom-notification {
    color: @purple;
}
/* Standardowy kolor baterii (zielony) */
#battery {
    color: @green;
}

/* Kiedy bateria się ładuje */
#battery.charging, #battery.plugged {
    color: @blue;
}

/* Ostrzeżenie (poniżej 30%) */
#battery.warning:not(.charging) {
    color: @yellow;
}

/* Stan krytyczny (poniżej 15%) - pulsujące tło i czerwony tekst dla zwrócenia uwagi */
#battery.critical:not(.charging) {
    color: @red;
    background-color: @bg-alt;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Animacja migania dla stanu krytycznego */
@keyframes blink {
    to {
        background-color: @red;
        color: @bg;
    }
}
